# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# Libraries ðŸ“š
import pandas as pd
import numpy as np 
import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [ ]:
df = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
df.shape

(800, 13)

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
Legen = df.Legendary.value_counts()
Legen.reset_index()

   Legendary  count
0      False    735
1       True     65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [ ]:
legendary = df[df["Legendary"] == True]["Total"].dropna()
nonlegendary = df[df["Legendary"] == False]["Total"].dropna()

In [7]:
mean_legendary = legendary.mean().round(2)
std_legendary = round(legendary.std(), 2)

print(f'Mean Legendaries: {mean_legendary}')
print(f'Std Legendaries: {std_legendary}')

Mean Legendaries: 637.38
Std Legendaries: 60.94

In [8]:
mean_nonlegendary = nonlegendary.mean().round(2)
std_nonlegendary = round(nonlegendary.std(), 2)

print(f'Mean no legendaries: {mean_nonlegendary}')
print(f'Std no legendaries: {std_nonlegendary}')

Mean no legendaries: 417.21
Std no legendaries: 106.76

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [9]:
# Perform two-sample t-test for independent samples
# I'm not sure which is Null Hypothesis.  
t_stat, p_value = st.ttest_ind(legendary, nonlegendary, equal_var=False) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: ...")
else:
    print("Reject the Null Hypothesis: ... ")

Test Statistic (t): 25.83
P-Value: 0.0000

Reject the Null Hypothesis: ...

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [10]:
type = df['Type 1'].value_counts()
type.reset_index()

      Type 1  count
0      Water    112
1     Normal     98
2      Grass     70
3        Bug     69
4    Psychic     57
5       Fire     52
6   Electric     44
7       Rock     44
8     Dragon     32
9     Ground     32
10     Ghost     32
11      Dark     31
12    Poison     28
13     Steel     27
14  Fighting     27
15       Ice     24
16     Fairy     17
17    Flying      4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [11]:
# Calculating with Total. 
statistics = df.groupby('Type 1').agg({'Total': ['mean', 'std']})
statistics.reset_index().round(2)

      Type 1   Total
                mean     std
0        Bug  378.93  117.88
1       Dark  445.74  109.13
2     Dragon  550.53  146.27
3   Electric  443.41  105.72
4      Fairy  413.18  123.78
5   Fighting  416.44  102.46
6       Fire  458.08  109.76
7     Flying  485.00  161.40
8      Ghost  439.56  110.07
9      Grass  421.14  106.65
10    Ground  437.50  123.91
11       Ice  433.46  108.28
12    Normal  401.68  115.73
13    Poison  399.14   92.36
14   Psychic  475.95  139.03
15      Rock  453.75  108.06
16     Steel  487.70  115.42
17     Water  430.46  113.19

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [13]:
water_poke = df[df["Type 1"] == 'Water']["Total"].dropna()
other_poke = df[df["Type 1"] != 'Water']["Total"].dropna()

In [14]:
t_stat, p_value = st.ttest_ind(water_poke, other_poke, equal_var=False) 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean of total points for Water type is equal to the mean of total points for non-Water type.")
else:
    print("Reject the Null Hypothesis: The mean of total points for Water type is not equal to the mean of total points for non-water type. ")

Test Statistic (t): -0.46
P-Value: 0.6434

Fail to Reject the Null Hypothesis: The mean of total points for Water type is equal to the mean of total points for non-Water type.

Write your conclusion below.

In [ ]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
# Null-Hypothesis: Defense and attack scores are equal. 
# Alternative Hypothesis: Defense and attack scores not equal.

In [17]:
attack = df['Attack']
defense = df['Defense']

In [22]:
t_stat, p_value = st.ttest_rel(df['Attack'], df['Defense'])
p_value

1.7140303479358558e-05

In [25]:
# Perform paired t-test
t_stat, p_value = st.ttest_rel(attack, defense)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.6f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: Defense and attack scores are equal.")
else:
    print("Reject the Null Hypothesis: Defense and attack scores not equal.")

Test Statistic (t): 4.33
P-Value: 0.000017

Reject the Null Hypothesis: Defense and attack scores not equal.

Describe the results of the test in the cell below.

In [ ]:
# We reject the null hyphotesis and say that defense and attack scores are not equal.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [27]:
spattack = df['Sp. Atk']
spdefense = df['Sp. Def']

In [28]:
mean_attack = spattack.mean().round(2)
mean_defense = spdefense.mean().round(2)

print(f'Mean Attack: {mean_attack}')
print(f'Mean Defense: {mean_defense}')

Mean Attack: 72.82
Mean Defense: 71.9

In [29]:
t_stat, p_value = st.ttest_rel(spattack, spdefense)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.5f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: SP Defense and SP attack scores are equal.")
else:
    print("Reject the Null Hypothesis:SP Defense and SP attack scores not equal.")

Test Statistic (t): 0.85
P-Value: 0.39337

Fail to Reject the Null Hypothesis: SP Defense and SP attack scores are equal.

Describe the results of the test in the cell below.

In [ ]:
# In this case we fail to reject the null hypotesis.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: